@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

    --color-wc-gray: #121212;
    --color-wc-gray-light: #E0E0E0;

    --shadow-strong: 0 10px 20px rgba(0, 0, 0, 0.55);

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;

    --breakpoint-lgx: 1100px;
    --breakpoint-mdl: 785px;
}

@keyframes slide-in-right {
    from {
        transform: translateX(-200px) rotate(45deg);
        opacity: 0;
    }

    to {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 2s ease-out forwards;
}